.place-image {
    position: relative;
}

.place-image span {
    font-weight: 500;
    font-size: 0.8rem;
}

.place-image em {
    font-size: 1rem;
}

.place-image.panel-big span {
    font-size: 1.6rem;
}

.place-image.panel-big span em {
    font-size: 1.8rem;
}

.place-image__description {
    top: 100%;
    left: 0%;
    z-index: 3;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    background-color: #fff;
    opacity: 0.85;
    align-items: center;
    justify-content: center;

    position: absolute;
    transition: all 0.5s;
}

.place-image__description-title {
    font-size: 1.6rem;
}

.panel-big .place-image__description-title {
    font-size: 2.4rem;
}

.place-image.panel button {
    margin: 0;
    transform: scale(0.6);
}

.place-image.panel-big button {
    transform: scale(0.9);
}

.place-image__main-image {
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    object-fit: cover;
    transition: all 0.4s;
}

.place-image:hover .place-image__main-image {
    transform: scale(1.1);
}

.place-image:hover .place-image__description {
    top: 0%;
}

.place-image__user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.panel .place-image__creator-avatar {
    width: 3rem;
    cursor: pointer;
    transition: all 0.3s;
}

.panel-big .place-image__creator-avatar {
    width: 4.8rem;
    cursor: pointer;
    transition: all 0.3s;
}

.place-item__modal-content {
    padding: 0;
}

.place-item__modal-actions {
    text-align: right;
}

.map-container {
    height: 20rem;
    width: 100%;
}

@media (max-width: 830px) {
    .place-image__description {
        display: none;
    }
}
