.me {
    min-width: 70%;
}


@media (min-width: 830px) {
    .me {
        min-width: 25rem;
    }
}


.me__msg {
    font-weight: 700;
    font-size: 1.6rem;
}

.me__pass {
    font-weight: 500;
    font-size: 1.2rem;
}
