@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}
@media (max-width: 840px) {
    html {
        font-size: 90%;
    }
}

body {
    margin: 0;
    background: #4d4d4d;
    overflow-y: overlay;
}
@supports not (overflow-y: overlay) {
    body {
        overflow-y: auto;
    }
}

.slide-in-left-enter {
    transform: translateX(-100%);
}

.slide-in-left-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 200ms;
}

.slide-in-left-exit {
    transform: translateX(0%);
    opacity: 1;
}

.slide-in-left-exit-active {
    transform: translateX(-100%);
    opacity: 0;
    transition: all 200ms;
}

.clear-margin {
    margin: 0 !important;
}

.center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0.75em;
}

::-webkit-scrollbar-track {
    background: #ffb8d0;
}

::-webkit-scrollbar-thumb {
    background: #ff0055;
    border: 0.1em solid #ffb8d0;
    border-radius: 1em;
    min-height: 5em;
}

::-webkit-scrollbar-thumb:hover {
    background: #830000;
}

@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: #ff3d7e #ffb8d0;
        scrollbar-width: auto;
    }
}
